<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="marca-name mt-8">{{marca.nombre}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="marcaForm">
            <input name="id" formControlName="id" type="hidden">
            <input name="createdAt" formControlName="createdAt" type="hidden">
            <input name="updatedAt" formControlName="updatedAt" type="hidden">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'MARCAS.CODIGO' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="codigo" formControlName="codigo" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'MARCAS.NOMBRE' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput required>
                </mat-form-field>
            </div>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="deleteItem(marcaForm)"
                aria-label="Delete"
                matTooltip="Delete">
                {{'MARCAS.ELIMINAR' | translate}}
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="addItem(marcaForm)"
                [disabled]="marcaForm.invalid"
                aria-label="SAVE">
                {{'MARCAS.AGREGAR' | translate}}
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="updateItem(marcaForm)"
                [disabled]="marcaForm.invalid"
                aria-label="SAVE">
                {{'MARCAS.GUARDAR' | translate}}
        </button>

    </div>
</div>
