<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="competidor-name mt-8">{{competidor.nombre}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="competidorForm">
            <input name="id" formControlName="id" type="hidden">
            <input name="createdAt" formControlName="createdAt" type="hidden">
            <input name="updatedAt" formControlName="updatedAt" type="hidden">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.CODIGO' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="codigo" formControlName="codigo" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.NOMBRE' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.CALLE' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="calle" formControlName="calle" matInput required>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.LATITUD' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">point</mat-icon>
                    <input name="latitud" formControlName="latitud" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.LONGITUD' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">point</mat-icon>
                    <input formControlName="longitud" matInput required>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.MARCA' | translate}}</mat-label>
                    <mat-select formControlName="marcaId" required>
                        <mat-option *ngFor="let marca of marcas" [value]="marca.id">
                            {{marca.nombre}}  ({{marca.codigo}})
                        </mat-option>
                    </mat-select>
                    
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'COMPETIDORES.ZONADEPRECIO' | translate}}</mat-label>
                    <mat-select formControlName="zonaDePrecioId" required>
                        <mat-option *ngFor="let zdp of zonaDePrecios" [value]="zdp.id">
                            {{zdp.nombre}}  ({{zdp.codigo}})
                        </mat-option>
                    </mat-select>
                    
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="marcador">{{'COMPETIDORES.MARCADOR' | translate}} </mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="observar">{{'COMPETIDORES.OBSERVAR' | translate}} </mat-checkbox>
            </div>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="deleteCompetidor(competidorForm)"
                aria-label="Delete"
                matTooltip="Delete">
            ELIMINAR
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="addCompetidor(competidorForm)"
                [disabled]="competidorForm.invalid"
                aria-label="SAVE">
            AGREGAR
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="updateCompetidor(competidorForm)"
                [disabled]="competidorForm.invalid"
                aria-label="SAVE">
            GUARDAR
        </button>

    </div>
</div>
