<h1 matDialogTitle>Error</h1>
<div mat-dialog-content>
    <div >
        <p>{{errorMessage}}</p>
    </div>
    <div *ngFor="let error of this.errors">
        <p>{{error[0]}}</p>
    </div>
</div>
<div mat-dialog-actions class="pt-24">
    <button mat-button (click)="dialogRef.close()">Cerrar</button>
</div>
