<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let zonaDePrecio">
            <mat-checkbox [(ngModel)]="checkboxes[zonaDePrecio.id]" (ngModelChange)="onSelectedChange(zonaDePrecio.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let zonaDePrecio">
            <img class="avatar" *ngIf="zonaDePrecio.Id" [alt]="zonaDePrecio.Nombre"
                 [src]="zonaDePrecio.Id"/>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="Codigo">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let zonaDePrecio">
            <p class="text-truncate font-weight-600">{{zonaDePrecio.codigo}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let zonaDePrecio" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{zonaDePrecio.nombre}}
            </p>
        </mat-cell>
    </ng-container>


    <!-- Controls Column -->
    <ng-container matColumnDef="_controls">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let zonaDePrecio">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(zonaDePrecio.Id)" aria-label="Toggle star">
                    
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteZonaDePrecio(zonaDePrecio)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let zonaDePrecio; columns: displayedColumns;"
             class="zonaDePrecio"
             (click)="editZonaDePrecio(zonaDePrecio)"
             [ngClass]="{'accent-50':checkboxes[zonaDePrecio.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


