<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let competidor">
            <mat-checkbox [(ngModel)]="checkboxes[competidor.id]" (ngModelChange)="onSelectedChange(competidor.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let competidor">
            <img class="avatar" *ngIf="competidor.Id" [alt]="competidor.Nombre"
                 [src]="competidor.Id"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Codigo">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let competidor">
            <p class="text-truncate font-weight-600">{{competidor.codigo}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let competidor" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{competidor.nombre}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="Calle">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Calle</mat-header-cell>
        <mat-cell *matCellDef="let competidor" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{competidor.calle}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="Latitud">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Latitud</mat-header-cell>
        <mat-cell *matCellDef="let competidor" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{competidor.latitud}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="Longitud">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Longitud</mat-header-cell>
        <mat-cell *matCellDef="let competidor" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{competidor.longitud}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="_controls">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let competidor">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(competidor.Id)" aria-label="Toggle star">
                    
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteCompetidor(competidor)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let competidor; columns: displayedColumns;"
             class="competidor"
             (click)="editCompetidor(competidor)"
             [ngClass]="{'accent-50':checkboxes[competidor.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


