<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let marca">
            <mat-checkbox [(ngModel)]="checkboxes[marca.id]" (ngModelChange)="onSelectedChange(marca.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let marca">
            <img class="avatar" *ngIf="marca.Id" [alt]="marca.Nombre"
                 [src]="marca.Id"/>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="Codigo">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let marca">
            <p class="text-truncate font-weight-600">{{marca.codigo}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let marca" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{marca.nombre}}
            </p>
        </mat-cell>
    </ng-container>


    <!-- Controls Column -->
    <ng-container matColumnDef="_controls">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let marca">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(marca.Id)" aria-label="Toggle star">
                    
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteMarca(marca)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let marca; columns: displayedColumns;"
             class="marca"
             (click)="editMarca(marca)"
             [ngClass]="{'accent-50':checkboxes[marca.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


